* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --main-bg-color: #223865;
    --primary-font-color: #fbfbfb;
    --secondary-font-color: green;
    --button-color: blue;
}

.header {
    color: var(--primary-font-color);
    background-color: var(--main-bg-color);
}

.box {
    border: 1px solid black;
    padding: 100px;
    margin: 100px;
    text-align: center;
}